<script setup>
import {  onMounted,  ref, watch} from 'vue';
import { useCatStore } from '../stores/index'



const catStore = useCatStore();

const loading = ref(true);

const value = ref('sort by');
const valueTwo = ref("filter by");
const opts = [
        { label: 'Breed', value: 'breed' },
        { label: 'Origin', value: 'origin' },
        { label: 'Temperament', value: 'temperament' }
      ]
let optsTwo =ref([]);
const selectedSort = ref(null);
const selectedBreed = ref(null);
let visible = ref(false);
onMounted(async() => {
    await catStore.fetchCats();
    optsTwo.value =await catStore.uniqueBreeds();
    loading.value = false;
});

const handleSort = (e) => {
  catStore.sortCats(e.value);
}
const handleFilter = (e) => {
  catStore.filterBy(e.value)
}
const handleDialog = (idx) => {
  catStore.idx = idx;
  visible.value = ref(true);
}


</script>
<style >
.p-dropdown-items-wrapper{
  background-color: black;
  overflow-y: scroll;
}


.p-dropdown-items .p-dropdown-item {
  color:white;
  cursor:pointer;

}
.p-dropdown-items .p-dropdown-item:hover {
  background-color: #333;
}

</style>


<template>


  <div class=" p-2 w-1/16 flex">
    <Dropdown v-model="selectedSort" :options="opts" @change="handleSort" optionLabel="label" optionValue="value" class="ml-2 flex flex-row pr-6" :placeholder="value" />
    <Dropdown v-model="selectedBreed"  :options="optsTwo" @change="handleFilter" optionLabel="label" optionValue="value" class="ml-2 flex flex-row" :placeholder="valueTwo" />
  </div>

    <div class="grid xl:grid-cols-5 l:grid-cols-4">
    <Card class="rounded-lg bg-black m-2" v-for="(cat, idx) in catStore.display" :key="cat.id">
      <template #title>{{  }}</template>
      <template #content class="">
        <img class="p-6 m-auto " :src="cat.url" alt="cat" />
        <Button label="Learn More" @click="handleDialog(idx)" class="block m-auto"></Button>

      </template>
    </Card>

    <Dialog v-model:visible="visible.value" modal  :style="{ width: '80%', height:'80%' }" class="bg-black rounded-lg">
    <div class="p-dialog-content"> 
      <img class="p-6 m-auto" :src="catStore.display[catStore.idx].url" alt="cat" /> 
      <div  :key="catStore.display[catStore.idx].breeds[0].name">
        <h1 class=" pl-6 pb-4 pr-6 text-3xl">{{catStore.display[catStore.idx].breeds[0].name }}</h1>
        <h2 class="text-xl pl-6 pr-6">Origin</h2>
        <p class="p-6 pt-0">{{ catStore.display[catStore.idx].breeds[0].origin }}</p>
        <h2 class="text-xl pl-6 pr-6">Temperament</h2>
        <p class="p-6 pt-0">{{ catStore.display[catStore.idx].breeds[0].temperament }}</p>
        <h2 class="text-xl pl-6 pr-6">About</h2>
        <p class="p-6 pt-0">{{ catStore.display[catStore.idx].breeds[0].description }}</p>
      </div> 
    </div>
    <div class="p-dialog-footer">
      <Button class="p-6 pt-0" type="button" @click="visible = false">Close</Button>
    </div>
        </Dialog>
  </div>
  
  
  </template>